.nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191c1f;
  // height: 100vh;
  box-shadow: 0px 0px 15px 5px black;
  ul {
    width: 200px;
    li {
      list-style: none;
      text-align: center;

      .text__link {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 50px;

        margin: 10px auto;

        transition: 0.4s;
        overflow: hidden;

        background-color: #1d2747;

        &::before {
          content: "";
          height: 100%;
          width: 2px;
          background-color: red;
          position: absolute;
          right: 0;
          top: 0;
          transform: translateY(100%);

          transition: 0.4s;
        }

        &:hover {
          background-color: #475a96;
        }

        &:hover::before {
          transform: translateY(0%);
        }
      }
    }
    // .active__btn {
    //   height: 100%;
    //   width: 2px;
    //   background-color: red;
    //   position: absolute;
    //   right: 0;
    //   top: 0;

    //   background-color: #475a96;
    //   transition: 0.4s;
    // }

    .active__btn {
      color: yellow;
    }
  }

  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: #b7dcff;
    &:focus {
      background-color: #fff;
      color: #000;
    }
  }
}

@media (max-width: 360px) {
  .nav__wrapper {
    ul {
      width: 100px;
      li {
        .text__link {
          font-size: 10px;
          width: 100%;
          height: 30px;
        }
      }
    }
    input {
      padding: 5px;
    }
  }
}
